{% extends "Base.html" %}

{% block Page %}
<main class="form-signin w-25 position-absolute top-50 start-50 translate-middle text-center">
    <form class="px-3 " action="/chofer" method="post">
      <img class="mb-4" src="{{url_for('static', filename='image/chofer.png')}}" alt="" width="30%" height="30%">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" name= "email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name = "password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3 my-2">
        <label>
          <input class="form-check-input" type="checkbox" value="remember-me"> Remember me
          <p class="small"><b>*no funcional*</b></p>
        </label>
      </div>

      <button class="w-100 btn btn-dark" type="submit">Sign in</button>
      <button class="w-100 btn btn-light "><a href="/" class="text-decoration-none text-dark">Regresar</a></button>
      
      <p class="small"> ¿no tiene cuenta? <a href="/register2" class="text-decoration-none">Registrate</a> </p>
    </form>
  </main>


{% endblock %}