{% extends "Base.html" %}

{% block Page %}
<style>
    body{
        background-color: black;
    }

</style>

<header class="p-3 bg-black text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li style="padding-left: 50px;"><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li>
                <div class="dropdown">
                  <button class="btn btn-link text-white text-decoration-none dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Compañia
                   </button>
   
                   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                       <li><a class="dropdown-item" href="/Information#Quienes_Somos">¿Quienes somos?</a></li>
                       <li><a class="dropdown-item" href="/Information#Que_Ofrecemos">¿Que ofrecemos?</a></li>
                       <li><a class="dropdown-item" href="/Information#Como_Funciona">¿Cómo Funciona?</a></li>
                       <li ><a href="/Information#Ayuda" class="dropdown-item">Ayuda</a></li>
                     </ul>
                </div>
              </li>
        </ul>


        <div class="text-end">
          <button type="button" class="btn rounded-4 btn-light text-decoration-none"><a href="/login" class="text-decoration-none text-dark"> ¿Ya tienes cuenta?</a> </button>
        </div>
      </div>
    </div>
  </header>

<div class="container col-xl-10 col-xxl-8 px-4 py-1">
    <div class="row align-items-center g-lg-5 py-1">
      <div class="col-lg-7 text-center text-lg-start">
        <a href="/"  class="">
            <img class= "mb-4" src="{{url_for('static', filename='image/Pooldrive-white.png')}}" alt="" >
        </a>
        <p class="col-lg-10 fs-4 text-white text-center">Genera ganancias a partir de un click</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        
        <div class="modal modal-sheet position-static d-block py-1" tabindex="-1" role="dialog" id="modalSheet">
            <div class="modal-dialog" role="document">
              <div class="modal-content rounded-4 shadow">
                <div class="modal-body border-bottom-0">
                                          <!-- mensajes de verificacion  -->      
   {% with messages = get_flashed_messages()  %}
   {% if messages %}
     {% for message in messages %}
          {% if mensaje_error==1 %}
           <div class="alert alert-danger alert-dismissible fade show" role="alert">
             {{ message }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
           {% endif %}
           {% if mensaje_error==0 %}
           <div class="alert alert-success alert-dismissible fade show" role="alert">
             {{ message }}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
           {% endif %}
     {% endfor %}
   {% endif %}
{% endwith %}
                
                  <h5 class="modal-title">Te damos la bienvenida. </h5>
                </div>
        
                <div class="modal-body py-0">
                <form action="/add_chofer" method="post">
                    <div class="row row-cols-lg-auto g-2 g-lg-4">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value ="true" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Tengo auto
                                </label>
                            </div>
                        </div>
        
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="false">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Necesito auto
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-2" name="nombre" placeholder='nombre' required />
                            <label for="floatingInput">nombre</label>
                          </div>
                        </div>
            
                        <div class="col-sm">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-2" name="apellido"  placeholder='apellido' required />
                                <label for="floatingInput">apellido</label>
                            </div>
                        </div>
        
                    </div>
            
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-2" name="email" id="floatingInput"  placeholder='name@example.com' required />
                        <label for="floatingInput"> E-mail </label>
                    </div>
            
                    <div class="col-sm">
                        <div class="form-floating mb-3">
                            <input type = "password" class="form-control rounded-2" name="Contraseña" placeholder='password' required />
                            <label for="floatingInput">Contraseña</label>
                        </div>
                    </div>
        
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control rounded-2" name="phoneNumber" id= "phoneNumber" placeholder='phoneNumber' required />
                          <label for="floatingInput">Numero de Telefono</label>
                        </div>
                     
                      <div class='row'>
        
                        <div class='col-sm'>
                          <div class='form-floating mb-3'>
                            <input type='date' class= ' form-control rounded-2' name='birthday' id = 'birthday' placeholder='birthday' required/>
                            <label for = 'birthday'>Nacimiento</label>
                          </div>
                        </div>
        
                        <div class='col-sm'>
                        <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Default select example" name="gen" >
                            <option placeholder='Género'>Género</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="Otro">Otro</option>
                            <option value="Prefiero_no_decirlo">Prefiero no decirlo</option>
                          </select>
                    </div>
                        </div>
        
                      </div>
                      <div class="row">
        
                      <div class="col-sm">
                        <div class="modal-footer flex-column border-top-0">
                          <button class="w-100 mb-2  rounded-4  btn btn-link text-decoration-none" type="button"><a href="/" class="text-decoration-none  text-dark">Atras</a></button>
                        </div>
                      </div>
        
                      <div class="col-sm">
                        <div class="modal-footer flex-column border-top-0">
                          <button class="w-100 mb-2 btn rounded-4 btn-dark" type="submit">Registrar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
           
          
      </div>
    </div>
</div>


{% endblock %}